* {
  box-sizing: border-box;
}

.GridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 23vw));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 1rem;
}