.sliderContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr; 
      
}

.viewAll {
    

}

.tileContainer {

    padding: 20px;

    display: flex;
    gap: 16px;
    z-index: 2;

    overflow-x: auto;
    overflow-y:visible;

    scroll-behavior: smooth;

    
    scrollbar-width: none;
 
    -ms-overflow-style: none;

}

.container::-webkit-scrollbar {
    display: none;
    
}