.tile{
    border: 2px solid red;
    flex: 0 0 auto;
    width: clamp(300px, 23.5vw, 500px);
    aspect-ratio: 2/3;
    transition: transform 0.5s;
    background-size: contain;
}

.tile:hover{
    transform: scale(1.1);
    
}