.WatchedContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.MovieElementArray{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}

body {
    
}

.EmptyPageContainer {
    display: flex;
    width: 80vw;
    margin: auto;
    flex-direction: column;
    height: 99vh;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.icon{
    height: 240px;
    width: 240px;


}

.text{
    text-align: center;
    font-size: 1.5rem;

}

